.button-eliminar{
    width: 70px;
    height: 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--gray);
    color: var(--white);
    padding: 1px 0 1px 0;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button-eliminar:hover{
    background-color: rgb(170, 168, 168);
}

/* @media (max-width: 768px) {
    .button-eliminar{
        width: 50px;
        font-size: 10px;
    }   
} */

/* @media (max-width: 768px) {
    .button-eliminar{
        font-size: 12px;
    }
} */