.contenedor-modal-confirmar-agregar-profesional {
    width: 300px;
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    font-family: var(--parrafos2);
}

.titulo-eliminar-confirmar-agregar-profesional {
    color: var(--color-principal);
}

.nombre-en-modal-confirmar-agregar-profesional {
    margin-top: 3px;
    font-style: italic;
}

.pregunta-confirmar-agregar-profesional {
    width: 250px;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.icon-confirmar-agregar-profesional {
    margin: 20px 0 20px 0;
    font-size: 80px;

}

.contenedor-botones-modal-confirmar-agregar-profesional {
    display: flex;
    gap: 20px;
}