.dialogo-confirmar-confirmar-entidad {
    width: 300px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.titulo-confirmar-accion-entidad {
    font-family: var(--parrafos2);
    color: var(--color-principal);
}

.referencia-accion-entidad {
    margin-top: 3px;
    font-family: var(--parrafos2);
    font-style: italic;
}

.pregunta-confirmar-accion-entidad {
    margin-top: 15px;
    font-family: var(--parrafos2);
    font-size: 14px;
    font-weight: 450;
    text-align: center;
}

.contenedor-botones-confirmar-acciones-entidad {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icono-confirmar-accion-entidad {
    margin: 20px 0 20px 0;
    font-size: 120px;
}