.form-edit-img-tabla {
    position: absolute;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.input-form-edit-img-tabla {
    width: 200px;
}


.label-form-add-imagen-tabla {
    width: 200px;
}