.boton-submit{
    width: 100px;
    border: none;
    padding: 1px 0 1px 0;
    border-radius: 20px;
    background-color: var(--color-principal);
    color: var(--white);
    transition: background-color 0.3s ease;
}

.boton-submit:hover{
    background-color: gray;
}

