.contenedor-tarjeta-trabajo-pendiente {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    font-family: var(--parrafos);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 14px;
}

.contenedor-tarjeta-trabajo-pendiente div {
    flex: 1;
    text-align: center;
    padding: 5px;
}

.contenedor-tarjeta-trabajo-pendiente div:nth-child(1) {
    flex: 0.5;
}

.contenedor-tarjeta-trabajo-pendiente div:nth-child(5) {
    color: var(--color-principal);
    font-weight: bold;
}

.contenedor-tarjeta-trabajo-pendiente:hover {
    background-color: #f9f9f9;
    border-color: var(--color-hover);
    cursor: pointer;
}

@media (max-width: 768px) {
    .contenedor-tarjeta-trabajo-pendiente {
        flex-direction: column;
    }
}