.tarjeta-agregar-entidad {
    border: none;
    padding: 5px 15px 5px 15px;
    color: var(--white);
    background-color: var(--color-principal);
    font-family: var(--parrafos);
    cursor: pointer; 
}

.tarjeta-agregar-entidad:hover {
    background-color: #D97300;
}